<ol class="breadcrumb">
  
  <li class="active">All Products</li>
</ol>

<h1>All Products</h1>

    <p>
      <a href="product/new">Add a new product</a>

    </p>

    <div class="products">
      <% for (var i = 0; i < products.length; i++) { %>
        <div class="product">
          <h3> ID: <%=products[i].id %> | <a href="/product/<%= products[i].id %>">
              <%= products[i].model %> </a> |
            
            Color: <%=products[i].color %> | Type: <%=products[i].type %> | Color: <%= products[i].color %> | Price <%=products[i].price %> | Max Width <%=products[i].maxWidth %> </h3>
        </div>
      <% } %>
    </div>
  
    <p>
      <a href="/"><< back to home page</a>
    </p>